<div id="contact-list" class="contacts-list"> 
  <table class="tabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" attr.id="contact{{contact.id}}">
        <td><app-contact-name [contact]="contact"></app-contact-name></td>
        <td>
            <a class="viewBtn" id="contactEditBtn{{contact.id}}" [routerLink]="[ '/view', contact.id ]"> View </a> |
            <a class="editBtn" id="contactEditBtn{{contact.id}}" [routerLink]="[ '/edit', contact.id ]"> Edit </a> |
            <a class="removeBtn" id="contactRmBtn{{contact.id}}" href="javascript:void(0)" (click)="remove(contact)">Remove </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
